.container {
  width: 100%;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.category h2 {
  font-weight: 800;
}

.products {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 1em;
  /* justify-content: center; */
}

.product {
  max-width: 25%;
  cursor: pointer;
}

.product .image img {
  width: 100%;
  border-radius: 10px;
}

.product p,
.product span {
  font-weight: 600;
  font-size: 18px;
}

.availability p {
  color: #777;
  font-size: 16px;
}

.product .price {
  display: flex;
  gap: 3px;
}
